/* *{
  border: 1px solid gray;
} */
html{
  font-size: 100%;
  font: inherit;
}
.App {
  text-align: center;
  background-image: url('./assets/pokeballunsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  background-attachment: fixed;
  top:0;
}
.header{
  text-align: center;
}
.loadmore{
  margin: 2%;
}
.pokemoncontainer{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
}
.allpokes{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.indpoke{
  margin: 2%;
}

a{
  text-decoration: none;
  color: black;
}
.imgfrontback{
  display:flex;
  justify-content: space-evenly;
}
.modalimg:hover{
transform:scale(1.5);
}
input{
  width: 400px;
}

@font-face{
  font-family: pokemon;
  src: url('./assets/Pokemon\ Solid.ttf');
  font-size: larger;
}
@font-face{
  font-family:pokemon_hollow;
  src: url('./assets/Pokemon\ Hollow.ttf')
}

h1{
  letter-spacing: 4px;
  font-family:pokemon;
  color: #ffcb05;
  font-size:72px;
  text-shadow: -3px 0 #2a75bb, 0 3px #2a75bb, 3px 0 #2a75bb, 0 -3px #2a75bb;
  margin: 1%;
}
.pokename{
  font-size: 2rem;
  color: #3c5aa6;
  font-family: pokemon;
  text-shadow: -1px 0 #ffcb05, 0 -1px #ffcb05, 1px 0 #ffcb05, 0 -1px #ffcb05;
}
footer{
  color: red;
}