/* *{
  border: 1px solid gray;
} */

.App {
  text-align: center;
}
.header{
  text-align: center;
}
.loadmore{
  margin: 2%;
}
.pokemoncontainer{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
}
.allpokes{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.indpoke{
  margin: 2%;
}

a{
  text-decoration: none;
  color: black;
}